In [53]:
import pandas as pd
import seaborn as sns
import numpy as np
import math
from sklearn import linear_model

df=pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [12]:
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [50]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [45]:
reg = linear_model.LinearRegression()
#X = (df[['area','bedrooms','age']])
#Y = df.price
reg=reg.fit((df[['area','bedrooms','age']]),df.price)

In [58]:
coef = reg.coef_
print("Los coeficientes son: \n",reg.coef_)
interc = reg.intercept_
print("\nEl intercepto es: ", interc)

Los coeficientes son:
 [  112.06244194 23388.88007794 -3231.71790863]

El intercepto es:  221323.0018654043

In [65]:
#Price Prediction
reg.predict([[3000,3,40]])

c:\Users\djara\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([498408.25158031])